## Flox Environment Manifest -----------------------------------------
##
##   _Everything_ you need to know about the _manifest_ is here:
##
##               https://flox.dev/docs/concepts/manifest
##
## -------------------------------------------------------------------
# Flox manifest version managed by Flox CLI
version = 1


## Install Packages --------------------------------------------------
##  $ flox install gum  <- puts a package in [install] section below
##  $ flox search gum   <- search for a package
##  $ flox show gum     <- show all versions of a package
## -------------------------------------------------------------------
[install]
go.pkg-path = "go"
go.pkg-group = "go"
go.version = "1.25.2"
kind.pkg-path = "kind"
kind.version = "0.29.0"
colima.pkg-path = "colima"
colima.version = "0.8.4"
lima-additional-guestagents.pkg-path = "lima-additional-guestagents"
lima-additional-guestagents.pkg-group = "lima"
lima-additional-guestagents.version = "1.1.1"
docker.pkg-path = "docker"
docker.version = "28.3.3"
kubectl.pkg-path = "kubectl"
kubectl.version = "1.33.4"
kyverno-chainsaw.pkg-path = "kyverno-chainsaw"
kyverno-chainsaw.version = "0.2.12"
hurl.pkg-path = "hurl"
hurl.pkg-group = "hurl"
hurl.version = "6.1.1"
kubernetes-helm.pkg-path = "kubernetes-helm"
kubernetes-helm.pkg-group = "helm"
kubernetes-helm.version = "3.17.3"
kubefwd.pkg-path = "kubefwd"
kubefwd.version = "1.22.5"
python3.pkg-path = "python3"
python3.version = "3.12.10"
python3.pkg-group = "python3-isolated"
cloud-provider-kind.pkg-path = "cloud-provider-kind"
cloud-provider-kind.version = "0.6.0"
kubectx.pkg-path = "kubectx"


## Environment Variables ---------------------------------------------
##  ... available for use in the activated environment
##      as well as [hook], [profile] scripts and [services] below.
## -------------------------------------------------------------------
[vars]
# INTRO_MESSAGE = "It's gettin' Flox in here"


## Activation Hook ---------------------------------------------------
##  ... run by _bash_ shell when you run 'flox activate'.
## -------------------------------------------------------------------
[hook]
on-activate = """
  # Autogenerated by Flox

  # Point GOENV to Flox environment cache
  export GOENV="$FLOX_ENV_CACHE/goenv"

  # Install Go dependencies
  go get .

  # End autogenerated by Flox
"""


## Profile script ----------------------------------------------------
## ... sourced by _your shell_ when you run 'flox activate'.
## -------------------------------------------------------------------
[profile]
# common = '''
#   gum style \
#   --foreground 212 --border-foreground 212 --border double \
#   --align center --width 50 --margin "1 2" --padding "2 4" \
#     $INTRO_MESSAGE
# '''
## Shell-specific customizations such as setting aliases go here:
# bash = ...
# zsh  = ...
# fish = ...


## Services ----------------------------------------------------------
##  $ flox services start             <- Starts all services
##  $ flox services status            <- Status of running services
##  $ flox activate --start-services  <- Activates & starts all
## -------------------------------------------------------------------
[services]
# myservice.command = "python3 -m http.server"


## Include ----------------------------------------------------------
## ... environments to create a composed environment
## ------------------------------------------------------------------
[include]
# environments = [
#     { dir = "../common" }
# ]


## Other Environment Options -----------------------------------------
[options]
# Systems that environment is compatible with
systems = [
  "aarch64-darwin",
  "aarch64-linux",
  "x86_64-darwin",
  "x86_64-linux",
]
# Uncomment to disable CUDA detection.
# cuda-detection = false
