name: Build and Deploy ztoperator

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths-ignore:
      - .flox/**
      - .run/**
      - .security/**
      - scripts/**
      - test/**
      - .dockerignore
      - .gitignore
      - .golangci.yml
      - .goreleaser.yaml
      - CONTRIBUTING.md
      - Dockerfile.goreleaser
      - LICENSE
      - README.md
      - catalog.info
      - ztoperator_logo.png
  pull_request:
    branches: [main]
    paths-ignore:
      - .flox/**
      - .run/**
      - .security/**
      - scripts/**
      - test/**
      - .dockerignore
      - .gitignore
      - .golangci.yml
      - .goreleaser.yaml
      - CONTRIBUTING.md
      - Dockerfile.goreleaser
      - LICENSE
      - README.md
      - catalog.info
      - ztoperator_logo.png

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    name: Build container image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            # Use sha for tags tags
            type=sha,format=long
            # set latest tag for default branch
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker image
        id: build-docker
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          push: ${{ !github.event.pull_request.draft }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Notice of image digest
        run: echo "${{ steps.build-docker.outputs.digest }}" >> $GITHUB_STEP_SUMMARY
    outputs:
      image_digest: ${{ steps.build-docker.outputs.digest }}

  pharos-scan:
    if: (!github.event.pull_request.draft && github.ref != 'refs/heads/main')
    name: Run Pharos Security Scan
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      actions: read
      security-events: write
    steps:
      - name: Run Pharos
        uses: kartverket/pharos@v0.4.1
        with:
          image_url: "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{needs.build.outputs.image_digest}}"
          tfsec: false

  deploy-argo:
    if: ((github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/main')
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: octo-sts/action@f603d3be9d8dd9871a265776e625a27b00effe05
        id: octo-sts
        with:
          scope: kartverket/tilgangsstyring-apps
          identity: ztoperator

      - name: Checkout apps repo
        uses: actions/checkout@v5
        with:
          repository: kartverket/tilgangsstyring-apps
          token: ${{ steps.octo-sts.outputs.token }}

      - name: Patch Image Digest
        run: |
          echo "\"${{ needs.build.outputs.image_digest }}\"" > "env/atgcp1-sandbox/ztoperator-system/digest"
          echo "\"${{ needs.build.outputs.image_digest }}\"" > "env/atkv3-sandbox/ztoperator-system/digest"

      - name: Commit and Push Changes to Repo
        run: |
          DIGEST="${{ needs.build.outputs.image_digest }}"
          SAFE_DIGEST="${DIGEST//:/-}"
          BRANCH="ztoperator-bot/update-image-${SAFE_DIGEST}"
          git checkout -b "$BRANCH"
          git add -A
          git commit -m "chore(manifests): update ztoperator image to ${IMAGE_DIGEST}"
          git push -u origin "$BRANCH"
          
          echo "BRANCH=$BRANCH" >> $GITHUB_ENV

      - name: Create PR and Enable Auto-merge
        run: |
          PR_URL=$(gh pr create \
            --repo "kartverket/tilgangsstyring-apps" \
            --base "main" \
            --head "$BRANCH" \
            --title "chore(manifests): Update Ztoperator image-sha to ${{ needs.build.outputs.image_digest }}" \
            --body "Automated update from ${{ github.repository }}. Bumping Ztoperator image to ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{needs.build.outputs.image_digest}}")
          
          gh pr merge --auto --merge "$PR_URL"