name: Check linting
on:
  pull_request:
    branches: [main]
    paths:
      - api/**
      - cmd/**
      - internal/**
      - pkg/**
      - .github/workflows/golangci-lint.yml

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.2'
      - name: Lint project
        run: make lint