name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Build and run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install go
        uses: actions/setup-go@v5.5.0
        with:
          go-version: '1.25.2'

      - uses: azure/setup-helm@v4.3.0

      - uses: gacts/install-hurl@8c80c69c281b4b618858de1e1a9ce931e9e61c97

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.12.0
        with:
          cluster_name: 'ztoperator'

      - name: Install dependencies
        run: make install-istio-gateways skiperator mock-oauth2 expose-ingress virtualenv install

      - name: Install kubefwd
        shell: bash
        run: |
          curl -L https://github.com/txn2/kubefwd/releases/download/1.22.5/kubefwd_Linux_x86_64.tar.gz | tar xz
          sudo mv kubefwd /usr/local/bin/
      
      - name: Run chainsaw tests
        run: make run-test
